<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> <%= title %> </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	
	<!-- /Header -->
	<%- include('./partials/header')%>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Swatch G4300</h2> 
			<p class="product-detail-description">
				<a href="/product/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="./images/products/Reloj1.png" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Marca: Swatch <br>
							   Modelo: G4300 <br>
							   Año: 2019 <br>
							   Color: Dorado</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="profile.html">Juan Rodriguez:</a> </strong>
								Se percibe buena calidad pero con el uso la malla se le levanta el cuero y la costura se desilacha un poco.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Ivan Suarez: </a> </strong>
									Muy lindo reloj cómodo y lujoso. Lindo modelo lastima la presentación de la cajita. Despues puesto es muy lindo.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Lautaro Espiño: </a> </strong>
									
									Excelente producto, hasta ahora funciona de diez. La correa es de calidad media, pero el resto muy bien.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Cintia Fernandez: </a> </strong>
									Muy bonito diseño de reloj, básico y elegante a la vez. Muy contento con el producto.</p>
							</div>
						</article>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="profile.html">Sol Estepo: </a> </strong>
									Retrasa muchísimo la hora, realmente una decepción para ser un reloj nuevo.</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->

</body>	
</html>