<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> <%= title %> </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/product-detail.css">
</head>
<body>
	<!-- Header -->
	
	<!-- /Header -->
	<%- include('./partials/header')%>
	<!-- product detail -->

	<% for(let i=0; i<product.length; i++) {%>
	
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			
			<h2 class="products-title"></h2> 
			<p class="product-detail-description">
				<a href="product-add.html">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="./images/products/Reloj1.png" alt="" class="product-detail-img">
					<p class="product-detail-description">
						2/2/21 <br> El reloj mas vendido del momento es el swatch G4300 ya que posee de todas las propiedades que requiere un buen reloj. Las agujas son gruesas y profundas. La malla de reloj se puede quitar facilmente y reemplazarla por otra.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/images/WhatsApp Image 2021-04-13 at 19.50.16.jpeg" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/miperfil"> Martín Paredes </a> </strong>
								7/12/20 <br> Ha sido una de las mejores compras de mi vida. Buena atención y rápida entrega. Soy felíz.</p>
							</div>
						</article>
						<article>
							<img src="/images/WhatsApp Image 2021-04-13 at 19.50.16.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/miperfil"> Federico Djamus </a> </strong>
									22/4/20 <br> precio-calidad muy buena. Ponerse este reloj y salir a la calle es una sensación inexplicable. Muchas gracias!!</p>
							</div>
						</article>
						<article>
							<img src="/images/WhatsApp Image 2021-04-13 at 19.50.16.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/miperfil"> Matías Saal </a> </strong>
									9/2/21 <br> No me gustó. Te lo venden con la imagen como si fueses a comprar un Rolex Yacht-Master II y te terminas llevando un juguete.
									</p>
							</div>
						</article>
						<article>
							<img src="/images/WhatsApp Image 2021-04-13 at 19.50.16.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/miperfil"> Ilan Umansky</a> </strong>
									1/3/21 <br> Estoy fascinado con mi nuevo Swatch G4300. Una de las mejores inversiones de mi vida sin lugar a dudas. Me gustó todo, desde la presentación hasta la malla. </p>
							</div>
						</article>
						<article>
							<img src="/images/WhatsApp Image 2021-04-13 at 19.50.16.jpeg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/miperfil"> Lucas Liwsky</a> </strong>
									5/9/21 <br> Producto 8 puntos. Hasta el momento, funciona de diez. La correa es de calidad media y el resto de primera. </p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
		<% } %>
	</div>
	
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->

</body>	
</html>