<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title><%= title %></title>
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Inconsolata:wght@500&display=swap" rel="stylesheet">
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/register.css">
	<link rel="stylesheet" href="/stylesheets/app.css">

	
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->

		  
				<h1 class="form-title">Editar tu perfil</h1>
				<div class="division">
				<form class= "form-register" action="/miperfil" >
					<h3 class="textoform">Nombre Completo</h3>
				   <input  type="text" placeholder="Alan Chami" class="input1">
				   <h3 class="textoform">Email</h3>
					<input type="email" placeholder="Email" class="input1">
					<h3 class="textoform">Contrase単a nueva</h3>
					<input  type="password" placeholder="Contrase単a nueva"class="input3">
					<h3 class="textoform">Confirmar Contrase単a</h3>
					<input  type="password" placeholder="Confirmar contrase単a" class="input4">
					<h3 class="textoform">Nacimiento</h3>
					<input  type="datetime-local" placeholder="Nacimiento" class="input4">
						<h3 class="textoform">Celular</h3>
						<input type="text" placeholder="Celular" class="input1">
						<h3 class="textoform">Cambiar Imagen</h3>
					<input  type="file" placeholder="Nacimiento" class="imagen">
				</div>
				
					<br>
					<button class="button1" id="registrate-button">Confirmar</button></form>
				</form>

	
			</div>
	
	 </div>
	
	
	
	
	

	  
	  <!----------Designed By Pradeep Singh Tomar------------>
	  
	  
	  
	  
	

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>