<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title><%= title %></title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/register.css">
	<link rel="stylesheet" href="./stylesheets/app.css">

	
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container1">
		<div class="content">
		   <img src="images/Registrate-aqui.png" alt="header-image" class="cld-responsive">
				<h1 class="form-title">Completar formulario</h1>
				<form class= "form-register" action="login" >
				   <input  type="text" placeholder="Nombre completo" class="input1">
					<input type="email" placeholder="Email" class="input1">
					<input  type="password" placeholder="Contraseña"class="input3">
					<input  type="datetime-local" placeholder="Nacimiento" class="input4">
					<div class="beside">
						<input type="text" placeholder="Celular" class="input1">
					</div>
					<br>
					<button class="button1" id="registrate-button">Registrate</button></form>
				</form>
			</div>
	 </div>
	
	
	
	
	

	  
	  <!----------Designed By Pradeep Singh Tomar------------>
	  
	  
	  
	  
	

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>