<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title><%= title %></title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/register.css">
	

	
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container1">
		<div class="content">
		   <img src="https://res.cloudinary.com/debbsefe/image/upload/f_auto,c_fill,dpr_auto,e_grayscale/image_fz7n7w.webp" alt="header-image" class="cld-responsive">
				<h1 class="form-title">Register Here</h1>
				<form>
				   <input type="text" placeholder="NAME">
				<div class="beside">
					<input type="number" placeholder="PHONE NUMBER">
					<select>
						<option>GENDER</option>
						<option>MALE</option>
						<option>FEMALE</option>
						<option>NON-BINARY</option>
					</select>
				</div>
					<input type="email" placeholder="EMAIL ADDRESS">
					<input type="number" placeholder="CODE"><br>
					<button type="button1">Submit</button>
				</form>
			</div>
	 </div>
	
	
	
	
	

	  
	  <!----------Designed By Pradeep Singh Tomar------------>
	  
	  
	  
	  
	

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>