<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title><%= title %></title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/register.css">
	

	
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container1">
		<div class="content">
		   <img src="images/Registrate-aqui.png" alt="header-image" class="cld-responsive">
				<h1 class="form-title">Completar formulario</h1>
				<form action="login">
				   <input type="text" placeholder="Nombre completo">
				<div class="beside">
					<input type="number" placeholder="Celular">
					<select>
						<option>Sexo</option>
						<option>Femenino</option>
						<option>Masculino</option>
						<option>No especificar</option>
					</select>
				</div>
					<input type="email" placeholder="Email">
					<input type="number" placeholder="Codigo"><br>
					<button class="button" id="registrate-button">Registrate</button>
				</form>
			</div>
	 </div>
	
	
	
	
	

	  
	  <!----------Designed By Pradeep Singh Tomar------------>
	  
	  
	  
	  
	

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>