<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> <%= title %> </title>
	
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/header')%>
	<!-- /Header -->

	<!-- Novedades -->
	<body>
		<section class="user">
			<div class="user_options-container">
			  <div class="user_options-text">
				<div class="user_options-unregistered">
				  <h2 class="user_unregistered-title">¿Ya tenes una cuenta?</h2>
				  <p class="user_unregistered-text">Inicie sesión aqui</p>
				  <form action="login" ><button   class="user_unregistered-signup" id="signup-button">Sign In</button></form>
				  
				</div>
		  
				
			  
			  <div class="user_options-forms" id="user_options-forms">
				<div class="user_forms-login">
				  <h2 class="forms_title">REGISTRATE</h2>

				  <% if (locals.errors){ %>
					<p class="error1"> <%= locals.errors.message %> </p>
					<% } %>

				  <form class="forms_form" action="/register" method="POST">
					<fieldset class="forms_fieldset">
					  <div class="forms_field">
						<input type="text" name= "name" placeholder="Nombre Completo" class="forms_field-input" required autofocus />
					  </div>
					  <div class="forms_field">
						<input type="email" name= "email" placeholder="Email" class="forms_field-input" required />
					  </div>
					  <div class="forms_field">
						<input type="date" name= "nacimiento" placeholder="Nacimiento" class="forms_field-input" required />
					  </div>
					  <div class="forms_field">
						<input type="password" name= "password" placeholder="Contraseña" class="forms_field-input" required />
					  </div>
					  <div class="forms_field">
						<input type="phone" name= "telefono" placeholder="celular" class="forms_field-input" required />
					  </div>
					</fieldset>
					<button type= "submit" class="user_unregistered-signup" id="signup-button">Confirmar</button>
					
				  </form>
				</div>
				<div class="user_forms-signup">
				  <h2 class="forms_title">Sign Up</h2>
				  <form class="forms_form">
					<fieldset class="forms_fieldset">
					  <div class="forms_field">
						<input type="text" placeholder="Full Name" class="forms_field-input" required />
					  </div>
					  <div class="forms_field">
						<input type="email" placeholder="Email" class="forms_field-input" required />
					  </div>
					  <div class="forms_field">
						<input type="password" placeholder="Password" class="forms_field-input" required />
					  </div>
					</fieldset>
					<div class="forms_buttons">
					  <input type="submit" value="Sign up" class="forms_buttons-action"/>
					</div>
				  </form>
				</div>
			  </div>
			</div>
		  </section>
		  
	  </body>
			
			
			
		
		
			  
			  
			
		


	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
	<script src="/PrimeraEntregaParcial/maqueta/PaginaWeb/public/javascripts/register.js"></script>
</body>

</html>