<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>¡Pagá cómo quieras! Aceptamos tarjeta de crédito, efectivo o mercado pago</h2>
                    <p>Disfrutá de nuestros diversos métodos de pago. Abonando con tarjeta con el código Watchon2021 obtenés un 10% de descuento, ¡en cualquier compra!
                         </p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>¡Comprá tu regalo en cuotas! ¿No sabes que regalarle a esa persona que tanto queres?
                        </h2>
                    <p> No te preocupes, nosotros hacemos que todo te sea más fácil. Envíos a todo el país sin costo.  Regalá bien, regalá experiencias originales, regalá WatchOn.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>¡Probános y conocénos! Fácil, simple y seguro. Inspirate con nosotros.

                    </h2>
                    <p>WatchOn es garantía. Para nosotros, ¡No hay nada que no tenga solución! Elegí seguridad, elegí WatchOn.</p>
                </article>
            </div>
        </div>
    </div>
</footer>